[submodule "hardware/ECU/lib/teensy.pretty"]
	path = hardware/ECU/lib/teensy.pretty
	url = https://github.com/blackketter/teensy.pretty.git
[submodule "speeduino"]
	path = speeduino
	url = https://github.com/HasiKe/speeduino.git
